<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6">
  <!-- Tarjeta 1 -->
  <div class="bg-blue-200 p-6 rounded-lg border hover:bg-blue-300 hover:scale-105 transition-all duration-300">        
    <h3 class="text-xl font-bold mb-2 text-gray-800">Carta ♥️</h3>
    <p class="text-gray-700">Los juegos de corazones se basan en la confianza y la traición entre los jugadores. Estos juegos a menudo ponen a prueba la lealtad y la capacidad de los jugadores para confiar en los demás, con la posibilidad de que la traición sea una estrategia viable para la supervivencia. 
</p>
  </div>

  <!-- Tarjeta 2 -->
  <div class="bg-green-200 p-6 rounded-lg border hover:bg-green-300 hover:scale-105 transition-all duration-300">
    <h3 class="text-xl font-bold mb-2 text-gray-800">Carta ♣️</h3>
    <p class="text-gray-700">Los juegos de tréboles requieren trabajo en equipo y habilidades de cooperación. Los jugadores deben colaborar eficazmente para superar los desafíos, a menudo involucrando estrategias complejas y coordinación. 
</p>
  </div>

  <!-- Tarjeta 3 -->
  <div class="bg-pink-200 p-6 rounded-lg border hover:bg-pink-300 hover:scale-105 transition-all duration-300">        
    <h3 class="text-xl font-bold mb-2 text-gray-800">Carta ♦️</h3>
    <p class="text-gray-700">Los juegos de diamantes se centran en la inteligencia, la estrategia y el ingenio. Los jugadores deben usar su intelecto y habilidades analíticas para resolver acertijos y superar obstáculos.  </p>
  </div>
  
  <!-- Tarjeta 4 -->
  <div class="bg-yellow-200 p-6 rounded-lg border hover:bg-yellow-300 hover:scale-105 transition-all duration-300">        
    <h3 class="text-xl font-bold mb-2 text-gray-800">Carta ♠️</h3>
    <p class="text-gray-700">Los juegos de picas enfatizan la fuerza física, la resistencia y la agilidad. Los jugadores deben demostrar habilidades como velocidad, resistencia y destreza física para superar estos desafíos. 
</p>
  </div>
</div>